.track_order{
    background-color: #F3F3F3;
}
.track_order .path{
    background-color: rgba(135, 135, 134, 0.05) !important;
    padding-top: 10px;
}
.track_order .path img{
    margin-left: 12px;
}
.track_order .ar_path img{
    margin-right: 20px;
}
.track_order .path a{
color:#0A0B0A;
font-size: 13px;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
margin-left: 7px;
}
.track_order .ar_path a{
color:#0A0B0A;
font-size: 13px;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
margin-right: 7px;
}
.track_order .path .current_page{
color:#0A0B0A;
font-size: 13px;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
margin-left: 7px;
}
.track_order .ar_path .current_page{
color:#0A0B0A;
font-size: 13px;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
margin-right: 7px;
}
.track_order .path a::after{
content: ">";
display: inline-block;
padding-left: 10px;

}
.track_order .ar_path a::after{
content: ">";
display: inline-block;
padding-right: 10px;

}