@import url("http://fonts.cdnfonts.com/css/helvetica-2");
.top_bar {
  background-color: #2b1a04;
  border: 1px solid #3c2508;
}
.top_bar .text-white .btn-transparent {
  display: flex;
  justify-content: center;
}
.en_top_bar p {
  font-family: "Helvetica";
  font-size: 16px;
}
.ar_top_bar p {
  
  font-size: 16px;
}
.top_bar .american_flag {
  width: 16px;
  height: auto;
}
.top_bar .order p {
  margin-top: 17px;
}
.top_bar .top_bar_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.top_bar .top_bar_container ul li {
  cursor: pointer;
}
.top_bar .top_bar_container ul li svg :hover {
  fill: #e2c164;
}
.en_top_bar .top_bar_container .top_bar_center p {
  height: 100%;
  margin: 0;
  color: #e2c164;
  font-family: "Helvetica";
  cursor: pointer;
}
.ar_top_bar .top_bar_container .top_bar_center p {
  height: 100%;
  margin: 0;
  color: #e2c164;
  cursor: pointer;
}
.top_bar .top_bar_right {
  display: flex;
  flex-direction: row;
}
.en_top_bar .dropdown-toggle {
  justify-content: space-between;
  width: 140px;
  font-family: "Helvetica";
}
.ar_top_bar .dropdown-toggle {
  justify-content: space-between;
  width: 140px;
}
.ar_top_bar .dropdown-toggle {
  margin-left: 30px;
}
@media only screen and (max-width: 768px) {
  .top_bar .top_bar_container {
    display: flex;
    flex-direction: column;
  }
  .ar_top_bar .dropdown-toggle {
    margin-left: 30px;
  }
}
