.best_seller {
  margin-top: 65px;
}
.best_seller h2 {
  font-size: 26px;
  font-weight: bold;
}
.best_seller .best_seller_pragrapg {
  font-size: 16px;
  color: rgba(26, 26, 24, 0.5);
  margin-bottom: 35px;

}
.best_seller a {
  text-decoration: none;
  color: black;
}
.best_seller .product_container {
  display: flex;
  flex-direction: row;
  /* margin-top: 50px; */
  justify-content: space-between;
}
.best_seller .product_ood .product_details {
  display: flex;
  flex-direction: column-reverse;
}
.best_seller .product .product_img {
  width: 206px;
  height: 269px;
}
.best_seller .product .product_title {
  color: #1a1a18;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: bold;
}
.best_seller .product .curency {
  color: #1a1a18;
  opacity: 0.5;
  font-family: "Helvetica";
  font-size: 14px;
}
.best_seller .product .price_text {
  color: #e2c164;
  font-family: "Helvetica";
  font-size: 17px;
  font-weight: bold;
}
.best_seller .likedIcone {
  position: relative;
}
.best_seller .likedIcone img:first-of-type {
  width: 42px !important;
  height: 42px;
}
.best_seller .likedIcone img:last-of-type {
  position: absolute;
  left: 11px;
  top: 9px;
}
.best_seller .icons {
  position: absolute;
  top: 10px;
  left: 77%;
}
.best_seller .product_ood .icons {
  position: absolute;
  top: 90px;
  left: 77%;
}
.best_seller .product {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .best_seller {
    margin-top: 30px;
  }
  .best_seller .product .product_img {
    width: 100%;
  }
  .best_seller .product_container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
  }
  .best_seller .product_details {
    margin-bottom: 25px;
  }
  .best_seller .product_img {
    display: flex;
    justify-content: center;
  }
  .best_seller .product_container .product_details p:first-of-type {
    font-size: 16px;
    padding-right: 0;
    margin: 0 !important;
    padding-bottom: 0 !important;
    /* text-align: center; */
  }
  .best_seller .product_container .product_details p:last-of-type {
    font-size: 16px;
    padding-right: 0;
    margin: 0 !important;
    padding-bottom: 0 !important;
  }
  .best_seller #stars {
    display: flex !important;
    /* justify-content: center !important; */
  }
  .best_seller .icons {
    position: absolute;
    top: 10px;
    left: 86%;
  }
  .best_seller .product_ood .icons {
    position: absolute;
    top: 100px;
    left: 86%;
  }
}
