@import url("http://fonts.cdnfonts.com/css/helvetica-2");
.sort_by_container img {
  width: 11px;
}
.css-bshv44-MuiButtonBase-root-MuiListItem-root {
  padding: 0 !important;
}
.css-83ijpv-MuiTypography-root {
  color: #e2c164 !important ;
  margin-right: 5px !important;
}
.sort_by_container .sort_by,
.category_product .showing {
  color: #878786;
  font-weight: bold;
  font-size: 14px;
  font-family: "Helvetica";
  /* margin-top: 12px; */
  position: relative;
  bottom: 5px;
}
.sort_by_container .sort_by_drop_down {
  width: 150px;
}
.css-822hb5-MuiList-root {
  display: flex;
  padding-top: 0 !important;
  position: relative;
  bottom: 7px;
}
.MuiList-padding {
  width: 100%;
}
.category_product .pagination {
  /* margin-top: 12px; */
  font-weight: bold;
  font-size: 14px;
  font-family: "Helvetica";
  position: relative;
  bottom: 5px;
}
.css-tlelie-MuiListItemText-root{
  margin-top: 0 !important;
}
