.title h2
{
    font-size: 20px;
}
.title ul li {
    cursor: pointer;
}
.title ul li p{
    color: #878786;
    font-size: 14px;
}
.popular_items .active{
    border-bottom: 2px solid #E2C164;
    color: #1A1A18;
}
.popular_items a{
    text-decoration: none;
    color: #1A1A18;
}
.popular_items .product .like_icon{
right: 7px !important;
}
@media only screen and (max-width: 768px) {
    .popular_items .title{
        display: flex;
        flex-direction: column;
    }
    .popular_items .title ul li{
        margin-right: 4px !important;
        margin-left: 4px !important;
    }
}