.popular_items h2 {
    font-family: " font-family: " Helvetica Neue W23 for SKY "; ";
    font-size: 26px;
    font-weight: bold;
  }
.popular_items .title ul li {
    cursor: pointer;
}
.popular_items .title ul li p{
    color: #878786;
    font-size: 14px;
}
.popular_items .active{
    border-bottom: 2px solid #E2C164;
    color: #1A1A18;
}
.popular_items a{
    text-decoration: none;
    color: #1A1A18;
}
.popular_items .product .like_icon{
right: 7px !important;
}
.popular_items .product .product_img{
    width: 206px;
    height: 269px;
    margin-right: 15px;
}
.popular_items .product_container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  .popular_items .product_ood .product_details
{
  display: flex;
  flex-direction: column-reverse;
}
.popular_items .product .price_text{
    color: #e2c164;
    font-family: "Helvetica";
    font-size: 17px;
    font-weight: bold;
}
.popular_items .product .curency {
    color: #1a1a18;
    opacity: 0.5;
    font-family: "Helvetica";
    font-size: 14px;
}
.popular_items .product .product_title {
    color: #1a1a18;
    font-size: 16px;
    font-family: "Helvetica";
    font-weight: bold;
  }
  .popular_items .likedIcone {
    position: relative;
  }
  .popular_items .likedIcone img:first-of-type {
    width: 42px !important;
    height: 42px;
  }
  .popular_items .likedIcone img:last-of-type {
    position: absolute;
    left: 11px;
    top: 9px;
  }
  .popular_items .icons {
    position: absolute;
    top: 10px;
    left: 70%;
  }
  .popular_items .product {
    position: relative;
  }
  
@media only screen and (max-width: 768px) {
    .popular_items .title{
        display: flex;
        flex-direction: column;
    }
    .popular_items .title ul li{
        margin-right: 4px !important;
        margin-left: 4px !important;
    }
}