@import url("http://fonts.cdnfonts.com/css/helvetica-2");
.order_summery .order_summery_container {
  background-color: #fff;
  padding: 24px;
  border: 1px solid #e2c164;
  border-radius: 5px;
}
.order_summery h1 {
  font-size: 18px;
  color: #0a0b0a;
  font-weight: bold;
  font-family: "Helvetica";
  border-bottom: 1px solid rgba(135, 135, 134, 0.2);
  padding-bottom: 15px;
}
.order_summery .total {
  border-bottom: 1px solid rgba(135, 135, 134, 0.2);
}
.order_summery .total p:first-child {
  font-size: 14px;
  color: #0a0b0a;
  font-weight: bold;
  font-family: "Helvetica";
}
.order_summery .total_price {
  font-size: 16px;
  color: #e2c164;
  font-weight: bold;
  font-family: "Helvetica";
}
.order_name p:first-child,
.order_delivery_address p:first-child,
.order_mobileNumber p:first-child,
.order_email p:first-of-type,
.order_other_notes p:first-of-type
{
  color: #1a1a18;
  opacity: 0.5;
  font-family: "Helvetica";
  font-size: 13px;
}
.order_name p:last-child,
.order_delivery_address p:last-child,
.order_mobileNumber p:last-child,
.order_email p:last-child ,
.order_other_notes p:last-child
{
  color: #1a1a18;
  font-family: "Helvetica";
  font-size: 13px;
  font-weight: bold;
}
.order_summery button{
    background-color: #e2c164;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 285px;
    padding-right: 20px;
    padding-left: 20px;
    color: #1a1a18;
    font-size: 14px;
    font-weight: bold;
    font-family: "Helvetica";
    margin-bottom: 25px;
}