.landing_page {
  padding-bottom: 40px;
  position: relative;
}

.landing_page img {
  width: 100% !important;
  aspect-ratio: 0.5 / 1;
  height: 450px;
  margin: auto;
}
.landing_page .slick-next {
  position: absolute;
  right:5%;
}
.ar_landing_page .slick-next{
  position: absolute;
  left: 1300px !important;
}
.landing_page .slick-prev {
  position: absolute;
  left:8%;
  z-index: 5555555555555555555;
}

.ar_landing_page .slick-prev {
  position: absolute;
  left:8% !important;
  z-index: 5555555555555555555;
}
.landing_page .slick-slider {
  width: 100% !important;
  margin: 0 auto;
}
.landing_page .slick-prev:before {
  display: none;
}
.slick-next:before {
  display: none;
}

@media only screen and (max-width: 768px) {
  .landing_page img {
    width: 100vw !important;
    aspect-ratio: 0.5 / 1;
    height: 250px !important;
  }
  .landing_page .prevIcon {
    transform: translate(3px, 0) !important;
  }

  .landing_page .landing_pageImg {
    margin-left: 6px !important;
  }
  .ar_landing_page .slick-next{
    position: absolute;
    left: 380px !important;
  }
  /* .ar_landing_page .slick-next{
    position: relative !important;
    left: 355px !important;
    bottom: 218px;
    z-index: 5555555555555555555555 !important;

  } */
.ar_landing_page .slick-next{

}

}