@import url("http://fonts.cdnfonts.com/css/helvetica-2");
.filer_bar {
  margin-right: 25px;
}
.categoy_filteration .user {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #b3e3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 20px;
}
.categoy_filteration .css-yw020d-MuiAccordionSummary-expandIconWrapper {
  display: none !important;
}
.categoy_filteration .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
}
.categoy_filteration .css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  display: none;
}
.categoy_filteration .css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0;
}
.categoy_filteration .css-ahj2mt-MuiTypography-root {
  color: #e2c164;
  font-weight: bold;
  font-family: "Helvetica";
  font-size: 14px;
}
.categoy_filteration .css-ahj2mt-MuiTypography-root ul li {
  color: #000000;
  font-weight: bold;
  font-family: "Helvetica";
  font-size: 14px;
  padding-left: 7px;
}
.categoy_filteration .css-15v22id-MuiAccordionDetails-root {
  padding: 0 !important;
}
.categoy_filteration
  .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  padding: 0 !important;
}
.categoy_filteration .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  padding: 0 !important;
}
.categoy_filteration .product .price {
  font-size: 14px;
  opacity: 0.5;
  font-weight: bold;
  font-family: "Helvetica";
}
.categoy_filteration .product .price span {
  font-size: 18px;
  margin-left: 10px;
  color: #e2c164;
  font-weight: bold;
  font-family: "Helvetica";
}
.categoy_filteration .css-1v5z18m {
  width: 100% !important;
}
.categoy_filteration .css-187mznn-MuiSlider-root {
  color: #e2c164 !important;
}
.categoy_filteration .reset {
  color: #e2c164;
  font-weight: bold;
  font-family: "Helvetica";
  font-size: 14px;
}
.categoy_filteration .filter {
  color: #e2c164;
  font-weight: bold;
  font-family: "Helvetica";
  font-size: 16px;
}
.categoy_filteration .show {
  color: #000000;
  font-weight: bold;
  font-family: "Helvetica";
  font-size: 14px;
}
.categoy_filteration .price_range {
  color: #575757;
  font-weight: bold;
  font-family: "Helvetica";
  font-size: 14px;
  margin-top: 20px;
}
.categoy_filteration .product_img {
  width: 206px !important;
  height: 269px;
}
.categoy_filteration .paginationBttns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.categoy_filteration .paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: #e2c164 1px solid;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  cursor: pointer;
}

.categoy_filteration .product_title {
  height: 50px;
}
.categoy_filteration .time {
  margin-top: 10px;
  padding-left: 7px;
}
.categoy_filteration .product_desc {
  color: #707070;

  font-weight: bold;
  height: 75px;
}
.categoy_filteration .product .like_icon {
  right: 0px;
}
.categoy_filteration .paginationActive a {
  color: #fff;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #e2c164;
}
.categoy_filteration .paginationActive a:hover {
  color: #fff;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #e2c164;
}
.categoy_filteration .paginationBttns .previous::after {
  content: "........";
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
  color: #707070;
}
.categoy_filteration .paginationBttns .next::before {
  content: "........";
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
  color: #707070;
}
.categoy_filteration .paginationDisabled a {
  border: #e2c164 1px solid;
  width: 37px;
  height: 37px;
  border-radius: 50%;
}
.categoy_filteration li.break {
  display: none;
}
.categoy_filteration .category {
  min-height: 150px;
}
.categoy_filteration .categoury_name {
  color: #e2c164;
  font-family: "Helvetica";
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.categoy_filteration .sub_categoury_name {
  font-family: "Helvetica";
  font-size: 13px;
  font-weight: bold;
}
.MuiSlider-valueLabelLabel,
.css-1kz0hui-MuiSlider-valueLabel {
  display: none !important;
}
.css-eg0mwd-MuiSlider-thumb:hover,
.css-eg0mwd-MuiSlider-thumb.Mui-focusVisible {
  box-shadow: none !important;
}
.filer_bar .intial_price,
.filer_bar .final_price {
  color: #575757;
  font-weight: bold;
  font-family: "Helvetica";
  font-size: 14px;
}
.MuiAccordionSummary-content {
  margin: 0 !important;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 0 !important;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  min-height: 0 !important;
}
.MuiTypography-body1 {
  color: #606060 !important;
  padding-left: 10px;
}
#panel1a-header p {
  color: #e2c164 !important;
  padding-left: 0;
}
@media only screen and (max-width: 768px) {
  .categoy_filteration .category {
    min-height: 100px;
  }
}
