.blog_details_info{
    margin-bottom: 42px;
}
.blog_details_info h2{
font-size: 22px;
margin-bottom: 30px;
}
.blog_details_info .blog-details-conten p{
    padding-right: 68px;
}
@media only screen and (max-width: 768px) {
.blog_details_info img{
    width: 100%;
}
.blog_details_info .blog-details-conten p{
    padding-right: 8px;
}
}