
.modal-dialog  .button button {
  background-color: #e2c164;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica";
}
.modal-header{
    border-bottom: none;
}
.modal-body{
    text-align: center !important;
}
.modal-body h4{
    font-size: 22px;
    color: #0a0b0a;
    font-weight: bold;
    font-family: "Helvetica";
    margin-top: 30px;
    margin-bottom: 70px;
}
.modal-body p{
    font-size: 14px;
    color: rgba(33, 37, 41, 0.5);
        font-weight: bold;
    font-family: "Helvetica";
}