.forget_password{
    background-color: #F3F3F3;
 
}
.forget_password h1{
    font-size: 18px;
    color: #0a0b0a;
    font-weight: bold;
    font-family: "Helvetica";
    margin-top: 40px;

}
.forget_password .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
    flex-direction: column;
}
.forget_password .forget_password_form{
    background-color: #fff;
    width: 730px;
    text-align: center;
    border-radius: 5px;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 90px;
    padding-right: 90px;  
}
.forget_password label{
    text-align: left !important;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    font-family: "Helvetica";
}
.ar_forget_password label{
    text-align: right !important;

}
.forget_password .button{
    display: flex;
    justify-content: center;
}
.forget_password .forget_password_btn{
    width: 160px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left !important;
  background-color: #e2c164;
  border-radius: 4px;
  color: #1a1a18;
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica";
  display: flex;
  align-items: center;
  justify-content: space-between;
}