@import url("http://fonts.cdnfonts.com/css/helvetica-2");

.related_blog {
  margin-top: 55px;
  margin-bottom: 65px;
}
.related_blog .date {
  background-color: #e2c164;
  width: 116px;
  font-size: 12px;
  color: #fff;
}
/* .related_blog  .product_desc {
  font-size: 13px;
  font-weight: bold;
  font-family: "Helvetica";
  color: #1a1a18;

} */
.related_blog h5 {
  color: #1a1a18;
  font-size: 16px;
  font-weight: bold;
  font-family: "Helvetica";
}
.related_blog .paragrapg {
  color: #878786;
  font-size: 14px;
}
.related_blog a {
  text-decoration: none;
}
.related_blog .blog_img {
  height: 227px;
}
.related_blog .blog_img img {
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .related_blog {
    margin-bottom: 20px;
  }
  .related_blog .date {
    width: 135px;
  }
}
