@import url('http://fonts.cdnfonts.com/css/helvetica-2');

.shop_by_category h2 {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Helvetica';

}
.shop_by_category p {
  font-size: 16px;
  color: rgba(26, 26, 24, 0.5);
  font-family: 'Helvetica';

}
.shop_by_category .container-fluid{
  padding: 0;
}
.shop_by_category .shop_by_electronics_content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop_by_category .shop_by_electronics {
  background-repeat: no-repeat;
  background-size: cover;
}
.shop_by_category .shop_by_electronics p {
  margin: 0;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 24px;
  margin-right: 25px !important;
}
.shop_by_category .shop_by_electronics a p {
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 14px;
}
.shop_by_category .shop_by_electronics_content {
  padding-top: 45px;
}
.shop_by_category .shop_by_electronics p img {
  margin-left: 15px;
}
/* .ar_shop_by_category .shop_by_electronics p img {
  margin-right: 15px;
} */
.shop_by_category .shop_by_school_content p img {
  margin-left: 15px;
}
.shop_by_category .shop_by_toys p img {
  margin-left: 15px;
}
.ar_shop_by_category .shop_by_toys p img {
  margin-right: 15px;
}
.shop_by_category .shop_by_electronics a {
  text-decoration: none;
  margin-top: 10px;
}
.shop_by_category .shop_by_electronics {
  background-repeat: no-repeat;
  background-size: cover;
}
.shop_by_category .shop_by_school_content p {
  margin: 0;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 24px;
}
.shop_by_category .shop_by_school_content a p {
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 14px;
}
.shop_by_category .shop_by_school_content a {
  text-decoration: none;
}
.shop_by_category .shop_by_school_content a p {
  margin-top: 10px;
}
.shop_by_category .shop_by_school_content a img {
  margin-left: 15px;
}
.ar_shop_by_category .shop_by_school_content a img {
  margin-right: 15px;
}
.shop_by_category .shop_by_school_content {
  padding-left: 53px;
  padding-top: 53px;
}
.ar_shop_by_category .shop_by_school_content {
  padding-right: 53px;
  padding-top: 53px;
  position: relative;
  right: 63%;
}
.shop_by_category .shop_by_school {
  background-repeat: no-repeat;
  background-size: cover;
}

.shop_by_category .shop_by_toys {
  background-repeat: no-repeat;
  background-size: cover;
}
.shop_by_category .shop_by_comanication_content {
  margin-left: 34px;
  padding-top: 34px;
}
.ar_shop_by_category .shop_by_comanication_content {
  margin-right: 34px;
  padding-top: 34px;
  position: relative;
  right: 70%;
}
.shop_by_category .shop_by_comanication_content img{
  margin-left: 15px;
}

.shop_by_category .shop_by_comanication_content p {
  color: #0a4774;
  margin: 0;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 24px;
  margin-right: 25px !important;
}
.shop_by_category .shop_by_comanication_content a p {
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 14px;
}
.shop_by_category .shop_by_comanication_content a {
  text-decoration: none;
}
.shop_by_category .shop_by_toys_content {
  padding-top: 51px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop_by_category .shop_by_toys_content p {
  color: #1a1a18;
  margin: 0;
  font-family: 'Helvetica';
font-weight: bold;
font-size: 24px;
}
.shop_by_category .shop_by_toys_content a {
  text-decoration: none;

}
.shop_by_category .shop_by_toys_content a p{
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  /* .ar_shop_by_category .shop_by_comanication_content p {
    color: #0a4774;
    margin: 0;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 24px;
    margin-right: 50px !important;
  } */
  .shop_by_category p {
    font-family: " font-family: "Helvetica Neue W23 for SKY"; ";
    font-size: 15px;
    color: rgba(26, 26, 24, 0.5);
    font-family: 'Helvetica';
  
  }
  .shop_by_category .row{
    margin: 0;
}
.shop_by_category .col-md-6{
    padding: 0;
}
.shop_by_category .col-md-3{
    padding: 0;
}
  .shop_by_category .shop_by_comanication {
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 15px !important;
    height: 150px !important;
    width: 100%;
  }
  .shop_by_category .shop_by_school {
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 25px !important;
    height: 150px !important;
    
  }
  .shop_by_category .shop_by_school_content{
    padding-left: 20px;  
    padding-top: 20px;
  }
  .shop_by_category .shop_by_comanication_content {
        margin-left: 20px;  
    padding-top: 20px;
  }
  .shop_by_category .shop_by_electronics {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 94%;
  }
  .ar_shop_by_category .shop_by_electronics {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 92%;
    position: static;
  }
  .shop_by_category .shop_by_toys {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 94%;
    margin-top: 25px;
  }
  .ar_shop_by_category .shop_by_toys {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 92%;
   
  }
  .shop_by_category .shop_by_toys {
    width: 100%;
  }
  .shop_by_category .shop_by_electronics {
    width: 100%;
  }
  .ar_shop_by_category .shop_by_school_content {
    padding-right: 53px;
    padding-top: 10px;
    position: absolute;
    right: 45%;
  }
  .ar_shop_by_category .shop_by_comanication_content{
    padding-right: 53px;
    padding-top: 10px;
    position: absolute;
    right: 37%;
  }
}
