@import url("http://fonts.cdnfonts.com/css/helvetica-2");
.payment_details h1 {
  font-size: 18px;
  color: #0a0b0a;
  font-weight: bold;
  font-family: "Helvetica";
}

.payment_details form {
  padding: 27px 29px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.payment_details label {
  font-size: 12px;
  font-weight: bold;
  font-family: "Helvetica";
}
.payment_details .checkbox_label {
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 14px !important;
}
.ar_payment_details .checkbox_label {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 14px !important;
}
.payment_details .payment_check_container {
  border-bottom: 1px solid #878786;
}
.payment_details .payment_type{
  padding: 27px 29px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.payment_details .mada_label {
  position: absolute;
  top: 40px;
  left: 50px;
}
.ar_payment_details .mada_label {
  position: absolute;
  top: 40px;
  right: 50px;
}
@media only screen and (max-width: 768px) {
  .payment_details .mada_label {
    position: absolute;
    top: 40px;
    left: 80px;
  }
  .ar_payment_details .mada_label {
    position: absolute;
    top: 40px;
    right: 80px;
  }
}