.best_picks{
    margin-top:70px ;
}
.best_picks h2 {
    font-family: "Helvetica Neue W23 for SKY";
    font-size: 26px;
    font-weight: bold;
  }
  .best_picks .best_picks_pragrapg {
    font-family: "Helvetica Neue W23 for SKY";
    font-size: 16px;
    color: rgba(26, 26, 24, 0.5);
  }
  .best_picks .product_details_container
  {
    display: flex;
    flex-direction: row;
  }
  @media only screen and (max-width: 768px) {
    .best_picks .product_details_container
    {
      display: flex;
      flex-direction: column;
    }
  }