.aboutus .about_title{
    margin-bottom: 42px;
    font-weight: bold;
font-family: "Helvetica Neue W23 for SKY";

}
.aboutus .about_title h1{
font-size: 42px;
color: #1A1A18;
}
.aboutus .about_title p{
font-size: 16px;
color: #1A1A18;
opacity: 0.5;
font-family: "Helvetica Neue W23 for SKY";

}