@import url("http://fonts.cdnfonts.com/css/helvetica-2");
.track_order_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 110px;
  flex-direction: column;
}
.track_order_box h1 {
  font-size: 18px;
  color: #0a0b0a;
  font-weight: bold;
  font-family: "Helvetica";
}
.track_order_box .track_order_box_container {
  background-color: #fff;
  width: 730px;
  text-align: center;
  border-radius: 5px;
  padding-top: 38px;
  padding-bottom: 38px;
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 10px;
}
.track_order_box .track_order_box_container p {
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica";
  margin-bottom: 10px;
}
.track_order_box .track_order_box_container label {
  text-align: left !important;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  font-family: "Helvetica";
}
.ar_track_order_box .track_order_box_container label {
  text-align: right !important;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  font-family: "Helvetica";
}
.track_order_box .track_order_box_container .button{
    display: flex;
    justify-content: center;

}
.track_order_box .track_order_box_container button {
  width: 160px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left !important;
  background-color: #e2c164;
  border-radius: 4px;
  color: #1a1a18;
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica";
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.ar_track_order_box .track_order_box_container button{
    text-align: right !important;
}
@media only screen and (max-width: 768px) {
    .track_order_box .track_order_box_container {
        width: 90%;
        padding-left: 40px;
        padding-right: 40px;
    }
}
